# Sublime Text
*.sublime-workspace
*.sublime-project

# Vs Code
*.code-workspace
*.vscode

# Jai ignore folders
.build/
modules/

# Generated assets
atlas/

# Generated binary extensions
**.exe
**.dll
**.pdb

# ImGui specific
imgui.ini